<section class="section career">
  <div class="section__target" id="career">&nbsp;</div>
  <div class="section__content ">
    <h2 class="section__heading">BLI EN JAMSPRINTARE</h1>
    <p class="section__paragraph career__paragraph">
        Enkel lönemodell bestående av fastdel och rörlig baserad på debitering hos kund.
    </p>
    <div class="career__blocks">
      <div class="career__block">
        <h2 class="career__heading">HÄLSA</h2>
        <ul class="career__block-list">
          <li class="career__block-list-item">Friskvård : 50000 kr / år</li>
          <li class="career__block-list-item">Motion: Styr & Ställ</li>
          <li class="career__block-list-item">Semester: 6 veckor / år</li>
        </ul>
      </div>

      <div class="career__block">
        <h2 class="career__heading">FÖRSÄKRINGAR</h2>
        <ul class="career__block-list">
          <li class="career__block-list-item">Olycksfall samt sjukförsäkring</li>
          <li class="career__block-list-item">Pension: Enligt ITP1 eller ITP2</li>
        </ul>
      </div>

      <div class="career__block">
        <h2 class="career__heading">UTRUSTNING</h2>
        <p class="career__block-paragraph">Telefon samt dator/surfplatta om uppdraget kräver det</p>
      </div>

      <div class="career__block">
        <h2 class="career__heading ">KOMPETENSUTVECKLING</h2>
        <p class="career__block-paragraph">Behovsprövade utbildningar för att säkra kompetens</p>
      </div>

      <div class="career__block">
        <h2 class="career__heading">AKTIVITETER</h2>
        <ul class="career__block-list">
          <li class="career__block-list-item">Konferenser: 2 konferenser / år</li>
          <li class="career__block-list-item">Vi försöker äta lunch gemensamt  1 / månad</li>
          <li class="career__block-list-item">Träffas på kontoret 1 / månad</li>
          <li class="career__block-list-item">Afterwork</li>
        </ul>
      </div>
    </div>

    <p class="section__paragraph">
      Fortfarande intresserad? Kontakta oss <a href="#contact" class="career__link">här</a>
    </p>
  </div>

</section>
