<section class="section clients">
  <div class="section__target" id="clients">&nbsp;</div>
  <div class="section__content">
    <h2 class="section__heading">VÅRA KUNDER</h1>
    <p class="section__paragraph">
        JamSprint ska vara det bolag som våra
        referenskunder kontaktar först när det
        gäller systemuveckling gällande Java-baserade
        webbapplikationer.
    </p>

     <ul class="clients__list">
       <li class="clients__list-item"><img src="/assets/images/clients/volvo.jpg" alt="Volvos logga"></li>
       <li class="clients__list-item"><img src="/assets/images/clients/goteborgsstad.png" alt="Göteborgs Stads logga"></li>
       <li class="clients__list-item"><img src="/assets/images/clients/telia.png" alt="Telias logga"></li>
     </ul>
  </div>

</section>
