<section class="section contact">
  <div class="section__target" id="contact">&nbsp;</div>
  <div class="section__content">
    <h1 class="section__heading">KONTAKTA OSS</h1>


     <ul class="contact__list">
       <li class="contact__list-item">JamSprint AB</li>
       <li class="contact__list-item">Hedåsgatan 6A</li>
       <li class="contact__list-item">412 53 Göteborg</li>
       <li class="contact__list-item">
         E-post:
         <a href="mailto:info@jamsprint.com">info@jamsprint.com</a>
       </li>
       <li class="contact__list-item">Orgnr: 556925-0631</li>
     </ul>
  </div>

</section>
