<section class="section services">
  <div class="section__target" id="services">&nbsp;</div>
  <div class="section__content">
    <h2 class="section__heading">Sprint betyder säkring för oss</h1>
    <p class="services__paragraph">
      Vi säkrar
     </p>

     <div class="carousel" id="carouselServices">
      <ul class="carousel__list list">
        <li class="carousel__list-item item">
          <h3>Överlämning</h3>
          <i class="fas fa-suitcase"></i>
          <p>
            JamSprint jobbar normalt sett inte med förvaltning,
            utan gör överlämningar efter projektleverans
          </p>
        </li>
        <li class="carousel__list-item item">
          <h3>Utvecklingsmiljö</h3>
          <i class="fas fa-laptop"></i>
          <p>
            Vi har stor kunskap i hur en modern utvecklingsmiljö ska
            sättas upp för att garantera hög effektivitet i utvecklingsarbetet.
            Vi jobbar med TDD och Continuous Integration, gärna tillsammans
            med verktyg som Jira för projektplaneringen
          </p>
        </li>
        <li class="carousel__list-item item">
          <h3>Testmiljö och test</h3>
            <i class="fas fa-check"></i>
          <p>
            Integrerade testmiljöer som uppdateras
            kontinuerligt under projektets gång
          </p>
        </li>
        <li class="carousel__list-item item">
          <h3>Projektledning</h3>
          <i class="fas fa-flask"></i>
          <p>
            Projektledare som kan kommunicera med såväl Stakeholder,
            läs kund, som utvecklare och testare
          </p>
        </li>
        <li class="carousel__list-item item">
          <h3>Utveckling</h3>
          <i class="fas fa-keyboard"></i>
          <p>
            Lyhörda utvecklare med stor vana att jobba nära kund
            i Agila projekt. Våra utvecklare behärskar såväl integration som
            presentation. Först och främst jobbar vi med Java och alla
            dess ramverk.
          </p>
        </li>
        <li class="carousel__list-item item">
          <h3>Leverans</h3>
          <i class="fas fa-truck"></i>
          <p>
            Vi har stor vana vid leverans från tidigare projekt
            och även större migreringsprojekt.
          </p>
        </li>
      </ul>

       <div class="carousel__window window">
         <div></div>
       </div>

      <div class="carousel__controls">

        <button class="carousel__button carousel__button-left prevBtn">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="carousel__button carousel__button-right nextBtn">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>

  </div>

</section>
