<section class="section team">
  <div class="section__target" id="team">&nbsp;</div>
  <div class="section__content">
    <h2 class="section__heading">DET HÄR ÄR VI</h1>
    <p class="team__paragraph">
      Om du vill ta kontakt med någon av oss så är mailadressen
      förnamn.efternamn (at) jamsprint.com
     </p>

     <div class="carousel" id="carouselTeam">
      <ul class="carousel__list list">
        <li class="carousel__list-item item">
          <div class="team__member">
            <div class="team__member-image">
              <img src="assets/images/team/martin_hedbäck.jpg" alt="Picture of Martin Hedbäck">
            </div>
            <h3 class="team__member-heading">Martin Hedbäck</h3>
            <p class="team__member-subheading">
              Projektledare
            </p>
          </div>

        </li>
        <li class="carousel__list-item item">
          <div class="team__member">
            <div class="team__member-image">
              <img src="assets/images/team/marcus_sundberg.jpg" alt="Picture of Marcus Sundberg">
            </div>
            <h3 class="team__member-heading">Marcus Sundberg</h3>
            <p class="team__member-subheading">
              Utvecklare
            </p>
          </div>

        </li>
        <li class="carousel__list-item item">
          <div class="team__member">
            <div class="team__member-image">
              <img src="assets/images/team/aaron_wong.jpg" alt="Picture of Aaron Wong">
            </div>
            <h3 class="team__member-heading">Aaron Wong</h3>
            <p class="team__member-subheading">
              Utvecklare
            </p>
          </div>

        </li>
        <li class="carousel__list-item item">
          <div class="team__member">
            <div class="team__member-image">
              <img src="assets/images/team/joacim_alvergren.jpg" alt="Picture of Joacim Alvergren">
            </div>
            <h3 class="team__member-heading">Joacim Alvergren</h3>
            <p class="team__member-subheading">
              Utvecklare
            </p>
          </div>

        </li>
      </ul>

       <div class="carousel__window window">
         <div></div>
       </div>

      <div class="carousel__controls" id="team__controls">

        <button class="carousel__button carousel__button-left prevBtn">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="carousel__button carousel__button-right nextBtn">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>

  </div>

</section>
