<section class="section team">
  <div class="section__target" id="team">&nbsp;</div>
  <div class="section__content">
    <h2 class="section__heading">DET HÄR ÄR VI</h1>
    <p class="team__paragraph">
      Om du vill ta kontakt med någon av oss så är mailadressen
      förnamn.efternamn (at) jamsprint.com
     </p>
    <ul class="team__list u-show-desktop">
      {% for item in site.data.team %}
      <li class="team__list-item">
        <div class="team__member">
          <div class="team__member-image">
            <img src="assets/images/team/{{ item.image }}" alt="Picture of {{ item.name }}">
          </div>
          <h3 class="team__member-heading">{{ item.name }}</h3>
          <p class="team__member-subheading">
            {{ item.role }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>

     <div class="carousel u-show-mobile" id="carouselTeam">
      <ul class="carousel__list list">
        {% for item in site.data.team %}
        <li class="carousel__list-item item">
          <div class="team__member">
            <div class="team__member-image">
              <img src="assets/images/team/{{ item.image }}" alt="Picture of {{ item.name }}">
            </div>
            <h3 class="team__member-heading">{{ item.name }}</h3>
            <p class="team__member-subheading">
              {{ item.role }}
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>

       <div class="carousel__window window">
         <div></div>
       </div>

      <div class="carousel__controls" id="team__controls">

        <button class="carousel__button carousel__button-left prevBtn">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="carousel__button carousel__button-right nextBtn">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>

  </div>

</section>
