.contact {

  background-color: #4c4c4c;
  min-height: auto;
  padding-bottom: 4.8rem;

  &__list {
    list-style: none;
    text-align: left;
    margin-left: .5rem;
  }

  &__list-item {
    margin: .1rem 0;
  }
}
