.header {

  position: fixed;
  top:0;
  left:0;

  background-color: white;
  height: 8vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;

  &__content {
    width: 80%;

  }
}
