// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;  // 1200px.
$bp-large: 62.5em;  // 1000px.
$bp-medium: 50em;   // 800px;
$bp-small: 37.5em;   // 600px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px;
  scroll-behavior: smooth;
}

body {

  color: white;
  font-size: 1.6rem;
  font-family: Roboto, Arial, sans-serif;
}

h1,h2,h3 {
  font-family: Helvetica, sans-serif;
}

img {
  width: 100%;
}

button, button:active {
  outline: none;
}

a {
  color: inherit;
}

.u-show-mobile {
  @media only screen and (min-width: $bp-small) {
    display: none;
  }
}

.u-show-desktop {
  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}
